body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
}

.login-box {
    width: 35rem;
    height: 25rem;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.kotak {
    border: solid;
}

.summary-kategory {
    border-radius: 15px;
    background-color: #0085a1;
}

.summary-hotel {
    border-radius: 15px;
    background-color: #00a138;
}

.no-decoration {
    text-decoration: none;
}

form div {
    margin-bottom: 10px;
}