/* Jangan Ubah Lagi*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --beige: #F0E5CF;
    --putih: #fff;
    --biru: #87ceeb;
    --bg3: #C8C6C6;
    --bg4: #4C6687;
    --bg5: #0085a1;
    --bg6: #7d7d7d;
    --color: #010101;

}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #ffffff00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .box-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--putih);
    display: flex;
    align-items: center;
    padding-left: -5rem;
}

.navbar .navbar-logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--biru);
}

.navbar .navbar-nav a {
    color: var(--putih);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: color 0.2s ease-in-out;

}

.navbar .navbar-nav a:hover {
    color: var(--bg6);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0.1rem solid #ffffff;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: var(--putih);
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: var(--bg6);
}

#hamburger-menu {
    display: none;
}


/* Scroll */
.navbar.scrolling-active {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgb(125, 125, 125, 0.5);
    padding: 1.3rem 10%;

}

.navbar.scrolling-active .navbar-nav a {
    color: var(--color);
}

.navbar.scrolling-active .navbar-logo {
    color: var(--color);
}

.navbar.scrolling-active .navbar-extra a {
    color: var(--color);
}

.navbar.scrolling-active .navbar-nav a::after {
    border-bottom: 0.1rem solid #000000;

}

/* Jangan Ubah Lagi*/
.packages .heading {
    text-align: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

/* Ubah di sini*/
.detail {
    padding: 8rem 7% 1.4rem;

}

.detail .row {
    display: flex;
}

.detail .row .detail-img {
    flex: 1 1 45rem;
}

.detail .row .detail-img img {
    width: 100%;
    background-size: cover;

}

.detail .row .content {
    flex: 1 1 60rem;
    padding: 0 1rem;
}

.detail .row .content h2 {
    font-size: 2rem;

}

.detail .row .content p {
    font-size: 1rem;
    color: #666;
    padding: .5rem 0;

}

.detail .row .content .stars i {
    margin: 1rem 0;
    font-size: 1rem;
    color: #F1C40F;
}

.box h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.box .maps {
    width: 100%;
    height: 50rem;
}