@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --beige: #F0E5CF;
    --putih: #fff;
    --biru: #87ceeb;
    --bg3: #C8C6C6;
    --bg4: #4C6687;
    --bg5: #0085a1;
    --bg6: #7d7d7d;
    --color: #010101;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

*::selection {
    background: var(--biru);
    color: #fff;
}

html {
    scroll-behavior: smooth;
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    margin: 0;

}

body {
    font-family: poppins, sans-serif;
    background-color: #fff;

}

i {
    font-size: 1.2rem;
}

section {
    padding: 2rem 9%;
}

.container {
    width: 100%;
    margin-inline: auto;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #ffffff00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .box-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--putih);
    display: flex;
    align-items: center;
    padding-left: -5rem;
}

.navbar .navbar-logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--biru);
}


.navbar .navbar-nav a {
    color: var(--putih);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: color 0.2s ease-in-out;

}


.navbar .navbar-nav a:hover {
    color: var(--bg6);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0.1rem solid #ffffff;
    transform: scaleX(0);
    transition: 0.3s linear;
}


.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: var(--putih);
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: var(--bg6);
}

#hamburger-menu {
    display: none;
}



/* Scroll */
.navbar.scrolling-active {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgb(125, 125, 125, 0.5);
    padding: 1.3rem 10%;
}


.navbar.scrolling-active .navbar-nav a {
    color: var(--color);
}

.navbar.scrolling-active .navbar-logo {
    color: var(--color);
}

.navbar.scrolling-active .navbar-extra a {
    color: var(--color);
}

.navbar.scrolling-active .navbar-nav a::after {
    border-bottom: 0.1rem solid #000000;

}


/* Hero Section */
.hero {
    font-family: 'Nunito',
        sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/foto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0px 2px 5px rgb(125, 125, 125, 0.5);

}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
}

.hero .content {
    text-align: center;
    margin: 0 auto;

}

.hero .content h3 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.hero .content p {
    font-size: 1rem;
    color: #fff;
    padding: .5rem;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #F1C40F;
    color: var(--color);
    font-weight: bold;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgb(125, 125, 125, 0.5);

}


.heading {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.heading span {
    font-size: 1.5rem;
    background: rgba(135, 206, 235, 0.5);
    color: var(--color);
    padding: .3rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.heading .space {
    background: none;
}

.btn {
    display: inline-block;
    margin-top: 2rem;
    background: var(--bg5);
    color: #ffffff;
    padding: .5em 3rem;
    border: .2rem solid var(--bg5);
    height: 4rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
}


.services,
.packages {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* Services */
.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 20rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.services .box-container .box i {
    padding: 1rem;
    font-size: 4rem;
    color: var(--orange);
}

.services .box-container .box h3 {
    font-size: 1.5rem;
    color: #333;
}

.services .box-container .box p {
    font-size: .8rem;
    color: #666;
    padding: 1rem 0;
}

.services .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.packages .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .box-container .box {
    flex: 1 1 25rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.packages .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box .content {
    padding: 2.3rem;
}

.packages .box-container .box .content .location {
    margin-top: -3rem;
    font-size: 10px;
}

.packages .box-container .box .content h3 {
    font-size: 1.7rem;
    color: #333;
}

.packages .box-container .box .content h3 i {
    color: var(--biru);
}

.packages .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.packages .box-container .box .content .stars i {
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #F1C40F;
}

.packages .box-container .box .content .price {
    font-size: 2rem;
    color: #333;
    padding: 0;
}

.packages .box-container .box .content .price span {
    color: #666;
    font-size: 1rem;
    text-decoration: line-through;
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--orange);
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}

.review .review-slider {
    padding-bottom: 2rem;
}

.review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3 {
    color: #333;
    font-size: 2.5rem;
}

.review .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .img {
    flex: 1 1 35rem;
}

.contact .row .img img {
    width: 100%;
    height: 500px;
}

.contact .row form {
    flex: 1 1 35rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}

.contact .row form textarea {
    height: 27rem;
    resize: none;
    width: 100%;
}

.brand-container {
    text-align: center;
}

.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.2rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: var(--biru);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, .2);
}

.footer .credit span {
    color: var(--orange);
}

/* Footer */
footer {
    background-color: var(--bg4);
    text-align: center;
    padding: 1rem 0;

}

footer ul {
    margin: auto;
}

footer .social {
    padding: 1rem 0;
}

footer .social a {
    color: #fff;
    margin: 1rem;
}

footer .social a:hover {
    color: var(--putih);

}

footer .credit {
    font-size: 0.8rem;

}

footer .credit a {
    color: var(--putih);
    font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .menu .row .menu-card {
        width: 18rem;
        margin: 3.5rem 0.8rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    #hamburger-menu {
        display: inline-block;
        margin-right: 1rem;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: none;
        width: 30%;
        height: 100vh;
        transition: 0.3s;
        z-index: 9999;
    }

    .navbar.scrolling-active .navbar-nav {
        background-color: var(--bg3);
    }

    .navbar.scrolling-active .navbar-nav a::after {
        border-bottom: 0.1rem solid #000000;
    }


    .navbar .navbar-nav a::after {
        border-bottom: 0.1rem solid #ffffff;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--putih);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
        ;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .heading span {
        font-size: 1.5rem;
    }


}


/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}