:root {
    --bg2: #F0E5CF;
    --bg1: #F7F6F2;
    --bg3: #C8C6C6;
    --bg4: #4C6687;
    --bg5: #0085a1;
    --bg6: #7d7d7d;
    --color: #010101;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins, sans-serif;
    background-color: #7d7d7d;

}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #0085a1;
    border-bottom: 1pc solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg2);

}

.navbar .navbar-logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color);

}

.navbar .navbar-nav a {
    color: var(--bg2);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 16px;
}

.navbar .navbar-nav a:hover {
    color: #333;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-top: 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #333;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--color);
}

#hamburger-menu {
    display: none;
}


/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/foto4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    background: linear-gradient(0deg, rgb(125, 125, 125) 5%, rgba(1, 1, 3, 0) 50%);
}



.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    filter: none;
    -webkit-filter: none;
}

.hero .content h1 {
    color: #fff;
    font-size: 4em;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 1);
    line-height: 1;
}

.hero .content h1 span {
    color: var(--color);
    text-shadow: 1px 4px 3px rgba(255, 255, 255, 0.5);
}

.hero .content p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--bg1);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 3);
    font-weight: 300;

}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #F1C40F;
    color: var(--color);
    font-weight: bold;
    border-radius: 5px;
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* About */
.about,
.menu h2,
.contact h2 {
    padding: 8rem 7% 1.4rem;
    color: var(--bg1);
}

.about h2,
.menu h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
    color: var(--color);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    margin-top: 1.5rem;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    font-weight: 100;
    line-height: 1.6rem;
}

.menu h2,
.contact h2 {
    margin-bottom: 1rem;
}

/* Menu */
.menu p,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6rem;
    color: var(--bg1);
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;

}

.menu .row .menu-card {
    text-align: center;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1rem auto 0.5rem;
}


.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #999;
    zoom: 65%;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    margin: 2rem;
    border: 2px solid var(--color);
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid #eee;
    padding-left: 2rem;
    background-color: var(--color);
    color: #fff;
}

.contact .row form .input-group input,
textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;

}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #F1C40F;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: var(--bg4);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer ul {
    margin: auto;
}

footer .social {
    padding: 1rem 0;
}

footer .social a {
    color: #fff;
    margin: 1rem;
}

footer .social a:hover {
    color: var(--bg3);

}

footer .credit {
    font-size: 0.8rem;

}

footer .credit a {
    color: var(--bg1);
    font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #999;
        width: 35%;
        height: 100vh;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0%;
    }

    .navbar .navbar-nav a {
        color: var(--color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
        ;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
        -webkit-transform: scaleX(0.2);
        -moz-transform: scaleX(0.2);
        -ms-transform: scaleX(0.2);
        -o-transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
    }

    .about .row .content p {
        font-size: 1.4rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

}


/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}